{% extends 'flight/base.html' %} {% block content %}
<div class="top">
  <a href="/ticket/my-tickets">My tickets</a>
  <a href="/passenger/logout">Log out</a>
</div>
<div class="ticket-container">
  {% for flight in queryset %}
  <div class="ticket">
    <div class="blueTop">Plane name: {{flight.plane_id.name}}</div>
    <div class="inTicket">
      <div class="inTicketLeft">
        <span class="inTicketSpan"> Start place: {{flight.start_place}}</span>
        <span class="inTicketSpan"> Start date: {{flight.start_date}} </span>
      </div>
      <div class="inTicketMid">
        <span class="inTicketSpan"> Destination: {{flight.destination}} </span>
        <span class="inTicketSpan"> Arrival date: {{flight.arrival_date}} </span>
      </div>
      <div class="inTicketRight">
        <span class="inTicketSpan"> First class seats: {{flight.plane_id.seats_first_class}} </span>
        <span class="inTicketSpan"> Business seats: {{flight.plane_id.seats_business}} </span>
        <span class="inTicketSpan"> Economy seats: {{flight.plane_id.seats_economy}} </span>
        <span class="inTicketSpan"> Luggage capacity: {{flight.plane_id.luggage_capacity}} kg </span>
      </div>
    </div>
    <div class="blueBottom">
      <button onclick="location.href='/ticket/buy/?flight={{flight.id}}'">
        Buy ticket
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
