{% extends 'ticket/base.html' %} 
{% block content %}
<form class="form-container" method="post">
<div class="top">
  <div class="topsL">{% csrf_token %} {{form.as_p}}</div>
  <div class="topsR">
    <span>Available luggage: {{luggage}} kg</span>
    <span>Total free seats: {{seats_total}}</span>
    <span>
      Occupied seats: 
      {% for ticket in tickets %} 
        {% if not forloop.last %}
          {{ticket.seat_number}}, 
        {% else %}
          {{ticket.seat_number}}
        {% endif %}
      {% endfor %}
    </span>
  </div>
</div>
<div class="mid">
  <div class="midsLeft">
    <span>First class price: {{price_first_class}}$</span>
    <span>Free first class seats: {{seats_first_class}}</span>
  </div>
  <div class="midsMid">
    <span>Business class price: {{price_business_class}}$</span>
    <span>Free business class seats: {{seats_business}}</span>
  </div>
  <div class="midsRight">
    <span>Economy class price: {{price_economy_class}}$</span>
    <span>Free economy class seats: {{seats_economy}}</span>
  </div>
</div>
<div class="bottom">
  <input type="submit" value="BUY" />
</div>
</form>
{% endblock content %}
